[phases.setup]
nixPkgs = ["python311", "gcc", "stdenv.cc.cc.lib", "zlib", "openblas", "liblapack", "gfortran"]

[phases.install]
cmds = ["python -m venv /opt/venv && . /opt/venv/bin/activate && pip install --upgrade pip wheel && pip install -r requirements.txt"]

[start]
cmd = ". /opt/venv/bin/activate && gunicorn backend.main:app -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:$PORT"
